extends layout

block content
  h1 Your profile
  hr
  .row
    .col-sm-6
      .panel.panel-default.portlet
        .panel-heading Heading
        .panel-body
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#', role='button') View details »

    .col-sm-6
        .panel.panel-default.portlet
            .panel-heading Heading
            .panel-body
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
        .panel.panel-default.portlet
            .panel-heading Heading
            .panel-body
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
        .panel.panel-default.portlet
            .panel-heading Heading
            .panel-body
              a(href='/newpage') newpage
              a(href='/customerDetail') details
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
                a.btn.btn-default(href='#', role='button') View details »
