doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Team 42
    != css('main')
    script( type='text/javascript') function prettyDate(){var loc = window.location.href;if(loc.indexOf('#')>0){var afterHash = loc.substr(loc.indexOf("#") + 1);window.location.href='http://localhost:3000/auth/ing/token?' + afterHash ;}};

 body(onload="prettyDate();")
    include partials/navbar

    .container
      include partials/flash
      block content

    include partials/footer

    != js('application')
